<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/taskStyle.css">
</head>
<body>
    <section id="sidebar-placeholder"></section>
    <section id="content">
		<!-- NAVBAR -->
		<section id="navbar-placeholder"></section>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
            <div class="head-title">
				<div class="left">
					<h1>MY PROJECTS</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">My projects</a>
						</li>
					</ul>
				</div>
			</div>
            <div class="cardFlex" id="cardFlex">

            </div>


		</main>
		<!-- MAIN -->
	</section>

</body>
<script type="module" src="../../components/sidebar/render.ts"></script>
<script type=module src="./myProjects.ts"></script>
</html>
