body {
    margin: 0;
    padding: 0;
    background:radial-gradient(#050526 0%,black 90%) -20vw 10vh no-repeat black;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:800px;
    height: fit-content;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
  }
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }

.threeD {
    color: darkgrey;
    white-space: nowrap;
    position: absolute;
    top:10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.1em;
    transition: 0.3s;
    text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
      1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
      5px 13px 15px black;
  }
  
  .threeD:hover {
    transition: 0.3s;
    transform: scale(1.1)translate(-50%, -50%);
    text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
      1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
      1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
  }

.button--piyo{
    --main_color : #f4cf47 ;
    --base_color : #000 ;
    --border_radius1 : 60px 60px 40px 40px / 48px 48px 30px 30px ;
}
.button--hoo{
    --main_color : #4993ff ;

    --base_color : #FFF ;
    --border_radius1 : 50px 50px 50px 50px / 40px 40px 40px 40px ; 
}
.button--pen{
    --main_color : #4d4d4d ;
    --base_color : #e9b800 ;
    --border_radius1 : 60px 60px 40px 40px / 48px 48px 30px 30px ;
}
.button--bonus{
    --main_color : #4993ff ;
    --base_color : #FFF ;
    --border_radius1 : 50px 50px 50px 50px / 40px 40px 40px 40px ; 
}
.button{
    position : relative ;
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 280px ;
    height : 80px ;
    box-sizing : border-box ;
    text-decoration : none ;
    border : solid 3px #000 ;
    border-radius : 40px ;
    background : var(--main_color) ;
    font-family: 'Fredoka One', cursive;
}

.button__wrapper{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    position : relative ;
    z-index : 1 ; 
    width : 100% ;
    height : 100% ;
    border-radius : 40px ;
    overflow : hidden ;
}


.button__text{
    position : relative ;
    z-index : 3 ;
    font-size : 32px ;
    letter-spacing : 4px ;
    color : var(--base_color) ;
    transition : all .3s ease ;
}

.container{
    width : 100% ;
    height : 600px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
    background:radial-gradient(#050526 0%,black 90%) -20vw 10vh no-repeat black;
    gap: 20px;
    margin-top: 50px;
}

