.brand{
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.50);
    width: 100%;

    @media screen and (max-width:$medium){
        background: $link-color;
        width: 100%;
        height: 80px;
        .brand__image{
            width: 148.444px;
            height: 34.142px;
            flex-shrink: 0;
        }
    }
    @media screen and (max-width:$small){
        background: $link-color;
        width: 100%;
        height: 39.063px;
        // padding: 50px 23px 50px 22px; 
        .brand__image{
            width: 72.483px;
            height: 16.671px;
        }
    }


}