//font-family
$font-family: 'Montserrat', sans-serif;

// font sizes
$base-font-size: 24px;
$heading-font-size: 48px;
$card-title-font-size: 20px;

// colors
$text:rgba(255, 255, 255, 0.50);
$secondary_color: #17C2EC;
$link-color: #FFF;
$primary-color:#000;

//border
$border-radius:20px;

// breakpoints
$small:575px;
$medium:992px;
$large: 1220px;

//mobile view
$small-base-font-size: 12px;
$small-heading-font-size: 24px;
$small-card-title-font-size: 20px;


