.viewport {
    margin: 10px;
    width: 1800px;
    height: 800px;
    position: relative;
    border: 3px solid black;
  }
  .ball {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute; 
    border-radius: 50%;
  }