<!DOCTYPE html>
<html>
<head>
	<title>Registration form</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img class="wave" src="../../images/wave.png">
    <div class="container">
        <div class="img">
            <img src="../../images/bg.svg">
        </div>
        <div class="login-content">
            <form action="index.html">
                <div id="signup-error-meesage" class="signup-error-meesage"></div>
                <img src="../../images/avatar.svg">
                <h1>Register</h1>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username" id="signup-username" name="signup-username" />
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Full Name" id="signup-fullname" name="signup-fullname" />
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email" id="signup-email" name="signup-email"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" id="signup-password" name="signup-password"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirm Password" id="signup-confirm-password" name="signup-confirm-password"/>
                </div>
                <input type="submit" class="btn" value="Register" id="signup">
                <div class="register-link">
                    <p>Already a user? <a href="../../../index.html">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="module" src="./signUp.ts"></script>

</html>